# Gradle
.gradle/
build/
**/build/

# Android Studio
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# Kotlin
*.class
*.jar
*.war
*.ear

# OS
.DS_Store
Thumbs.db

# Secrets
*.keystore
*.jks

# Logs
*.log
